<!DOCTYPE html>
<html>
<head>
  <title><%= appName %></title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <script src="/bower_components/platform/platform.js"></script>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="import" href="/bower_components/font-roboto/roboto.html">
  <link rel="import" href="/elements/<%= elementPrefix %>-main/<%= elementPrefix %>-main.html">
</head>

<body unresolved touch-action="auto">

<<%= elementPrefix %>-main>
<h1>Hello world!</h1>s
</<%= elementPrefix %>-main>

</body>

</html>
